/* tag styling */
html, body {
    border: 0;
    font: serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Cardo', serif;
}

li {
    float: left;
    padding: 1em;
}

a {
    display: inline;
    padding: 8px;
}

em {
    font-style: italic;
}


/* classes & ID's */
#banner {
    background-color: #1c9099;
    color: #ffffff;
    width: 100%;
}

#banner > h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#nav_bar {
    border-bottom: solid 2px #a6bddb;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#nav_bar a:link {
    color: #000000
}

#nav_bar a:hover {
    color: #756bb1;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}

#body {
    width: 100%;
}

#main {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#img_caption {
    vertical-align: middle;
}

.caption {
    font-style: italic;
}


